body.blocking { overflow: hidden; }
#event-race-commander-modal { display: none; }
body.blocking #event-race-commander-modal {
    display: block;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .85);
}
body.blocking #event-race-commander-modal img {
	left: 50%;
	margin: -32px -32px;
	position: absolute;
	top: 50%;
    width: 64px;
}
